.add__comment {
    display: flex;
    margin-top: 10px;
    
}

.edit_delete {
    display: contents;
}

/* .add__comment {
    width: 150px;
    padding-top: 10px;
} */

.add__comment__button {
    font-size: 8px;
    text-align: center;
    width: 25px;
    height: 30px;

    /* float: right; */
}

.input__comment {
    width: 380px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-right: 5px;
}

@media (max-width: 400px) {
    .input__comment {
        width: 150px;
    }
}