.container {
    max-zoom: 90%;
    width: 100%;
    height: 100%;  
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.buttons{
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;  
}

.button1{
    background-color: transparent;
    color: black;
    border-style: hidden;
    margin-right: 2%;
    font-weight: 500;
}

.organizer_link {
    color: blue;
}

.organizer_link:hover {
    color: blue;
    text-decoration: underline;
}

.album_cover{
    position:absolute;
   align-items: center;
   text-align: center;   
    background-position:center;
    width: 80%;
    height: 300px;
    margin-left: 10%;
    text-shadow: 5px 5px 5px #000;
    opacity: 0.9;
    -webkit-transition: height .5s ease-out;
    transition: height .5s ease-out;
    background-color: #000;
    text-shadow: 0 1px 1px #000;
}


.cover_photo{
    height: 300px;
    width: 100%;  
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    left: 0;
}

.text1{
    z-index: 5;
    position: relative;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    cursor: text;
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text1:hover{
    background: rgba(58, 58, 58, 0.6);
    transition: background-color .2s,padding .5s ease-out;
}

.text2{
    margin-top: 1%;
    z-index: 5;
    position: relative;
    color: white; 
}

.cover_title{
    margin-top: 20px;
    height: fit-content;
    margin-left: 45%;
    font-size: 2em;
    opacity: 0.9;
    font-weight: 300;
   background: transparent;
   border: hidden;
   color: white;
   height: 39px;
    width: 1131px;
    font-size: 30px;
}

.cover_description{
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 4%;
    font-size: 18px;
    opacity: 0.9;
    font-weight: 300; 
    max-height: 29px; 
    background: transparent;
    border: hidden;
    height: 28px;
    width: 570px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 300;
    text-shadow: 0 1px 1px #000;
}

.cover_photoCount{
    font-size: 15px;
    opacity: 0.9;
    font-weight: 300;
}

.album_photos{
  align-items: flex-start;
  margin-left: 10%;
   margin-top: 350px;
   opacity: 0.9;
   display:block;
}

.album_photo{
    height: 170px;
    width: 150px;
    margin-right: 1%;
    transition: 0.3s;
}

.album_photo:hover{
    cursor: pointer;
    transform: scaleY(-2px);
    box-shadow: 0 8px 10px 0 rgb(146, 11, 106) ;
}

.edit_icon{
    font-size: 20px;
    opacity: 0.9;
    color: white;
    font-weight: 300;
    margin-left: 95%;
    margin-top: 1%;
}

.edit_icon:hover{
    cursor: pointer;
}

.icons{
    opacity: 0.9;
   
    
}

.shareIcon{
    color: white;
    font-size: 20px;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: -3%;
}

.shareIcon:hover {
    cursor: pointer;
}

.downloadIcon{
    color: white;
    font-size: 40px;
    margin-bottom: -7px;
    margin-right: 3%;
    margin-top: -3%;
}

.downloadIcon:hover {
    cursor: pointer;
}

.done_button{
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 3px;
    padding-top: 3px;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.863);
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.863);
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px  white;
}

.done_button:hover{
   
    color: white;
   opacity: 0.9;
}
