.page_YouAlbums_center {
    margin-top: 15%;
    margin-left: 40%;
    font-family:sans-serif;
    font-weight: lighter;
    font-size: small;
}

.page_YouAlbums_Header{
    margin-top: 3%;
    font-family:sans-serif;
}


.page_YouAlbums_p{
margin-left: 23%;
margin-top: 1.5%;
}

.YouAlbums_button{
    margin-top: -4%;
}

.page_YouAlbums_Button {
    margin-top: 2%;
    margin-left: 43%;
    font-family:sans-serif;
    
}

.YouAlbums_bg{
    margin-left: 12%;
    margin-top: 2%;
}

.page_YouAlbums_options{
    margin-top: 13%;
    margin-left: 65%;
    display: flex;
    align-items: center;
    color: gray;
    justify-content:space-evenly;
    letter-spacing: 1px;
    font-weight:lighter;
    max-height: 60%;
    min-height: 10px;
    max-width: 100%;
    min-width:fit-content;
    overflow:hidden;
    font-size: 30px;
}

