.Header{
margin-top: 10px;
font-size:xx-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: lighter;
padding-left: 8%;

}
div.TabsC{
margin:auto ;
padding-left: 9%;


}


.selected_tab1
{     

height:55px;
background-color:white;
width:240px;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid blue;

color: black;
font-size: 17px;


border-right: 3px solid white;
margin-left: 0px;
}

.tab1
{ 

height:55px;
background-color:white;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid white;
width:240px;
color: black;
font-size: 17px;

margin-left: 0px;
}
div.CardCo{

    background-color: rgb(244, 248, 247);
    
background-position: center;

width: auto;
height: 2500px;

}


.loginE{

font-weight:600;
padding-left: 3%;
margin-top: 10px;

}
.Account{
    
margin: auto 60px;


}
div.CardSp{
    padding-top: 43px;


}

div.HeaderSp{
    padding-top: 25px;


}
div.buttonsp{

    padding-top: 20px;

}
div.loginSp{

    padding-top: 5px;

    
}
.e-mail{

padding-left: 3%;

}
div.emailsp
{
    padding-left: 3%;
    padding-top: 10px;
}

.Pass{
  
    font-weight:600;
    padding-left: 40%;


    
    }
  .editpasssp{
padding-left: 32%;


  }
  div.FooterSp{
    padding-top: 23px;

  }
  .footer{
padding-left: 3%;


  }
  div.cardspace2{

padding-top:23px;


  }
  div.card2
{

    
    padding-left: 13%;
   
}




div.HeaderSp2{
    padding-top: 15px;


}
div.HeaderSp3{
    padding-top: 18px;


}
.name{
    padding-left: 1%;
font-weight: bold;


}

.header2{
padding-top: 3%;
padding-left:3%;
font-size: 25px;

}
.content{
    padding-left:12%;
    font-size: 14px; 
}
.content2{

    padding-left:12%;

}
.name2{
    font-weight:bold;
 padding-left: 1%;   

}
.av{
padding-top: 1%;

}
div.headersp4{

padding-top:18px;

}
.ACCREV{

padding-left: 3%;

}
.SAFE{
font-weight: bold;
padding-left: 1%;

}
.BY{
   
    padding-left: 1%;
    
    }
    div.headersp5{

        padding-top:27px;
        
        }
        .WA{

            padding-left: 3%;
            font-weight: bold;
        }
        div.headersp6{

            padding-top:6px;
            
            }
            .mem{

                padding-left: 3%;

            }
            div.headersp7{

                padding-top:6px;

            }
            .EA{
                padding-left: 3%;

            }
            div.headersp8{

                padding-top:15px;

            }