.YA{
font-size: 20px;
padding-left: 20%;
    
}
.SN{
    font-size: 20px;
    font-weight: bold;
    padding-left: 1%;


}
div.sp3{
padding-top: -10px;
}
.CS{
    padding-left: 6%;
    font-size: 17px;
    color: rgb(255, 49, 117);
    
}
div.sp4{
    padding-top: 5px;
    }
    .ip{
        padding-left: 30%;
    }
    .ip2{

 border:2px black solid;
        width: 33%;
        height: 7%;
        border-radius: 6%;
    }
    .b3{
        background-color:rgb(17, 145, 250);
        color: white;
        
        border: none;
        border-radius: 5%;
        width: 5%;
        height: 10%;

    }
    div.b6{
        padding-left: 30%;
    }
    div.b5{
        padding-top: 15px;
    }
    .ca{
        padding-left: 30%;
        font-size: 12px;
    }
    .YA2{
        font-size: 12px; 
    }
    .pa{
        font-size: 12px; 

    }
    .sp7{
        padding-top: 50px;
    }
   .NO{
    padding-left: 30%;
    font-size: 12px;

   }
   .sp8{
    padding-top: 1px;
}
.NO2{
padding-left: 30%;
font-size: 12px;

}
.sp9{
    padding-top: 10px;
}
.NO3{
    padding-left: 30%;
    font-size: 12px;

   }
   .NO4{
    padding-left: 30%;
    font-size: 12px;

   }
   .NO5{
    padding-left: 1%;
    font-size: 12px;

   }
  

.TEXT1{
    padding-left: 15%;
    font-size: 9px;
}
.TEXT2{
    padding-left: 15%;
    font-size: 9px;  
}

.TEXT3{
    padding-left: 15%;
    font-size: 9px;  
}
.TEXT4{
    
    padding-left: 15%;
    font-size: 9px;  
}
div.space2{
    padding-top: 0.2px;   
}
div.space5{
    padding-top: 2px;
}
.TEXT5{
    padding-left: 15%;
    font-size: 9px;  
}
.TEXT6{

    padding-left: 15%;
    font-size: 9px;  

}