div.Backgound{
    background-color: rgb(244, 248, 247);
    
background-position: center;
background-color: rgb(244, 248, 247);
margin: auto;
width: auto;
height: 3000px;

}
.Forum{
    margin: auto 500px;
}
div.cardpasssp{
    padding-top: 135px;
}
div.controlsp{


    padding-top: 30px;
    
}
div.textsp{

  
    padding-top: 20px;
    padding-left: 45%;
}
.set{
font-size:20px;
    padding-left: 7%;

}
.control{


    padding-left: 10%;
}
.control2{


    padding-left: 10%;
}
div.controlsp2{


    padding-top: 15px;
    
}
.PLZ{
padding-left: 11%;
font-size: 11px;
font-weight:300;

}
.PLZ2{


    padding-left: 11%;
font-size: 11px;
font-weight:300;
}
div.controlsp3{


    padding-top: 7px;
    
}

.PLZ3{


    padding-left: 19%;
font-size: 11px;
font-weight:300;
}
div.controlsp4{
    padding-top: 25px;

}
.b{
background-color:rgb(17, 145, 250);
color: white;

border: none;
border-radius: 4%;
width: 90%;
height: 40px;


}
.control5{

    padding-left: 9%;

}
.forgetpass{
    padding-left: 30%;
}
div.controlsp5{
padding-top: 15px;

}
