div.Backgound2{
    background-color: rgb(244, 248, 247);
    
    background-position: center;
    background-color: rgb(244, 248, 247);
    margin: auto;
    width: auto;
    height: 3000px;

}
.Forum2{
    margin: auto 500px;

}
div.space{

    padding-top: 150px;
}
div.icon{


    padding-top: 30px;
    padding-left: 45%;
}
.pc{
    padding-left: 22%;
    font-size: 19px;
}
div.space2{

    padding-top: 10px;
}
.pc2{

    padding-left: 8%;
    font-size: 14px;

}
div.space3{

    padding-top: 1px;
}
.ws{

padding-left: 30%;
font-size: 14px;

}
.b2{
    background-color:rgb(17, 145, 250);
color: white;

border: none;
border-radius: 4%;
width:140px;
height: 40px;
}
div.buttonspp{
    padding-top: 50px;
}
div.buttonsp2{
padding-right: 25px;
}