.camera__metadata {
    clear: both;
    margin-top: 25px;
    display: block;
}

.camera__metadata ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.camera__metadata .column__1 {
    width: 225px;
    float: left;
    margin-right: 30px;
}

.camera__metadata .column__1 li { 
    position: relative;
    height: auto;
    font-size: 14px;
    line-height: 1.3;
    min-height: 20px;
    padding: 0;
    margin: 0 0 5px;
    vertical-align: middle;
}

.exif__item {
    width: 100%;
    vertical-align: top;
    padding-left: 0;
    display: table-cell;
}

.exif__item .lens {
    width: 100%;
    vertical-align: middle;
    padding-left: 0;
    display: table-cell;
}

.camera {
    display: block;
    width: 100%;
    min-width: 97px;
    min-height: 96px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1px 0;
    background-image: url(https://combo.staticflickr.com/ap/build/images/scrappy-camera-icons/NikonD100.png);
}

.exif__row {
    display: block;
    position: relative;
    height: auto;
    font-size: 14px;
    line-height: 1.3;
    min-height: 20px;
    padding: 0;
    margin: 0 0 5px;
    vertical-align: middle;
    list-style: none;
}

.exif {
    
    display: flex;
}

.exif img {
    border-radius: 50%;
}



.exif__link {
    margin-bottom: 20px;
    position: relative;
    height: auto;
    font-size: 14px;
    line-height: 1.3;
    min-height: 20px;
    padding: 0;
    margin: 0 0 5px;
    vertical-align: middle;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #006dac;
}

.exif__link:hover {
    text-decoration: underline;
}

.exif__icon {
    background: url(https://combo.staticflickr.com/ap/build/images/sprites/scrappy-95f0c81a.png) -21px -151px no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}
