.pplFollow {
    position: absolute;
    left: 100px;
    top: 80px;
}

.show {
    position: absolute;
    left: 100px;
    top: 150px;
}

.options {
    position: absolute;
    left: 150px;
    top: 150px;
}

.nameUser {
    position: relative;
    left: 90px;
    top: 80px;
    font-size: smaller;
}

.countPhoto {
    position: relative;
    top: 60px;
    left: 285px;
}

.listStatus {
    position: relative;
    display: flex;
    top: 40px;
    left: 380px;
}

.nameUsr {
    position: relative;
    top: 100px;
    left: 90px;
}

.photosUsr {
    position: relative;
    top: 80px;
    left: 250px;
}

.listAs {
    position: relative;
    top: 60px;
    left: 380px;
}

.realName {
    display: flex;
    
}

.fName {
    font-size: smaller;
}

.lName {
    margin-left: 3px;
    font-size: smaller;
}

.popUpEdit {
    position: fixed;
    background-color: white;
    top: 250px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(233, 227, 227, 0.9);
}

.editBg {
    position: fixed;
    left: 50px;
    width: 300px;
    height: 200px;
    z-index: 15;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgb(54, 53, 53);
    border-style: solid;
    border-color: rgb(117, 116, 116);
}

.mainHead {
    position: relative;
    left: 20px;
}

.upperBg {
    background-color: rgb(236, 234, 234);
    width:296px;
    height:75px;
    position: absolute;
    top:0px;
}

.okButton {
    z-index:16;
    position:relative;
    top: 170px;
    left: 80px;
    border:none;
    border-radius:5px;
    width:40px;
    background-color: rgb(70, 53, 231);
    color:white;
}

.cancelButton {
    z-index:16;
    position:relative;
    top: 170px;
    left: 130px;
    border:none;
    border-radius:5px;
    width: 60px;
    background-color: rgb(214, 214, 214);
}

.firstOption {
    z-index:16;
    position: relative;
    top: 70px;
    left: 20px;
}

.secondOption {
    z-index:16;
    position: relative;
    top:70px;
    left: 80px;
}

.thirdOption {
    z-index:16;
    position: relative;
    top:70px;
    left:80px;
}



