@charset "UTF-8";
img{
    max-width: 100%;
}
body {
    background: #ffffff;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: "CenturyGothic", Arial, Helvetica, sans-serif;
    color: #000;
}
#carousel-home, #carousel-home-2 {
    position: relative;
}
#carousel-home .static, #carousel-home-2 .static {
    position: static;
}
#carousel-home .cover, #carousel-home-2 .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: none !important;
    z-index: 2;
    opacity: 1 !important;
}
#carousel-home .owl-carousel, #carousel-home-2 .owl-carousel {
    position: relative;
}
#carousel-home .owl-carousel .owl-slide, #carousel-home-2 .owl-carousel .owl-slide {
    height: 750px;
    position: relative;
}
@media (max-width: 767px) {
    #carousel-home .owl-carousel .owl-slide, #carousel-home-2 .owl-carousel .owl-slide {
    height: 480px;
}
}
#carousel-home .owl-carousel .owl-slide-animated.is-transitioned, #carousel-home-2 .owl-carousel .owl-slide-animated.is-transitioned {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#carousel-home .owl-carousel .owl-slide-title.is-transitioned, #carousel-home-2 .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
}
#carousel-home .owl-carousel .owl-slide-subtitle.is-transitioned, #carousel-home-2 .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
}
#carousel-home .owl-carousel .owl-slide-cta.is-transitioned, #carousel-home-2 .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}