.action__bar {
    position: sticky;
    top: 50px;
    background-color: rgba(243,245,246,.95);
    z-index: 82;
    width: 100%;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #212124;
    background-color: #f3f5f6;
}

.action__content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.back__link__container {
    
    height: 60px;
}

.back__link__container p {
    text-decoration: none;
    cursor: pointer;
}

.back__link__container:hover p {
    text-decoration: underline;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    width: 60%;
}

.action__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 20px;
}
.action__item:hover {
    text-decoration: underline;
}

.gallery__page__container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-items: center;
    
}

.details__section {
    width: 80%;
    margin: 90px auto 0;
    text-align: center;
}
.gallery__title  {
    font-weight: 600;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: .03em;
    margin: 0;
    align-self: center;
    align-items: center;
    text-align: center;
}

.stats {
    display: felx;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 35px;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.stat {
    color: #999;
    margin-right: 25px;
}

.photos__section {
    border-top: 1px solid #e1e1e1;
}

.photos__section__header {
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo__list__container {
    position: relative;

}

.gallery__photo__card {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 4px;
}

.gallery__photo__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

