.tag {
    float: left;
    border: none;
    border-radius: 5px;
    position: relative;
    /* max-width: 96%; */
    margin: 0 5px 5px 0;
    background-color: #cfd6d9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    
    display: flex;
}

.tag:hover {
    color: white;
    background-color: #979ea2;
    /* width: 20%; */
}