.center
{
    color: purple;
}

.forgetpasswordsuccess
{
    width: 500px;
    height: 400px;
    padding-top: 90px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;   
    background-position:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-size: cover;
   background-color: rgb(240, 208, 247);
   color: black;
   margin-top: 200px;
   z-index: 2;
}
.h4__center
{
    color: black;
}

.formsuccess
{
    width: 500px;
    height: 400px;
    padding-top: 90px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;   
    background-position:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-size: cover;
   background-color: rgb(240, 208, 247);
   color: black; 
   margin-top: 200px;
   z-index: 2;
}

.forgetpassword {
    color: purple;
}

.forgetpass {
    height: auto;
    width: 400px;
    position: relative;
    padding-right: 10%;
}


.forgetpassword_page {

    background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;

}