

.div__forgetpasswordsucces_page
{
  background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 7%;
    height:100%;
     width: 100%;
    min-height: 100vh;
}

.h4__center
{
    color: black;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-left:-4%;
}


.h6__center {
  color: black;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
     font-family: Georgia, 'Times New Roman', Times, serif;  
}

.form__forgetpasswordsuccess {
       width: 500px;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7% auto;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
    text-align: center;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-color: rgb(240, 208, 247);
}

.img__formsuccess {
      height: auto;
    width: 110px;
    position: relative;
    padding-right: 6%;
    margin-top: 6%;
    margin-left: 1%;
}