.galleries__list__container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.galleries__list__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.new__gallery__btn {
    text-decoration: none;
    color: #737b80;
    margin-left: 12px;
    cursor: pointer;
}
.new__gallery__btn:hover {
    text-decoration: none;
    color: #737b80;
}

.new__gallery__icon {
    cursor: pointer;
}

.gallery__items__list {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {

    /* position: absolute; */
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 15px;
}

.gallery__item__container {
    margin: 0 8px;
}