.resetpassword_page {

    background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 7%;
}

.center
{
    color: black;
}

.btn__block {
    width: 60%;
}

.searching {
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.searchImg {
    right: 3%;
    padding-top: 3%;
    margin-top: 10px;
   width: 70px;
}
