div.TabsCC{
    margin:auto 60 ;
padding-left: 9%;
    background-color: white;
    
    }
    div.buttonspace2{

        padding-top: 30px;
        
        }
    
    .selected_tabb1
    {     
    
    height:40px;
    background-color:white;
    width:100px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-Bottom: 3px solid blue;
    
    color: black;
    font-size: 17px;
    
    
    border-right: 3px solid white;
    margin-left: 0px;
    }
    
    .tabb1
    { 
    
    height:40px;
    background-color:white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-Bottom: 3px solid white;
    width:100px;
    color: black;
    font-size: 17px;
    
    margin-left: 0px;
    }


    .selected_tabb2
    {     
    
    height:40px;
    background-color:white;
    width:100px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-Bottom: 3px solid blue;
    
    color: black;
    font-size: 17px;
    
    
    border-right: 3px solid white;
    margin-left: 0px;
    }
    
    .tabb2
    { 
    
    height:40px;
    background-color:white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-Bottom: 3px solid white;
    width:100px;
    color: black;
    font-size: 17px;
    
    margin-left: 0px;
    }

    .exptext{
font-size: 17px;
padding-left: 10%;

font-weight: 300;

    }
    div.textspace{
        margin:auto 70 ;
   

        background-color: #f3f5f6;;
    }
  div.tc{
padding-top: 16px;
    background-color: #f3f5f6;;

  }
  .b{
width:100px;

  }
  div.expspace{

    padding-top: 16px;
    background-color: #f3f5f6;;

  }
  .cardmed{

    height: 100%;
    width: 100%;
    object-fit: cover;
  }

