div.bZ2{
    z-index: 4;
    position:absolute;
   padding-left: 3%;
    margin-top: -8%;
    color:white;
    font-size: 20px;


}
div.hov{

 
    filter: brightness(90%);
    
}
.imm{
filter: brightness(70%);
}