div.bZ3{
    z-index: 4;
    position:absolute;
   padding-left: 3%;
    margin-top: -8%;
    color:white;
    font-size: 20px;


}
div.hov2{

 
    filter: brightness(90%);
    
}
.imm2{
filter: brightness(70%);
}