.search__bar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 20px 0 18px;
    -webkit-transition: border .1s linear;
    transition: border .1s linear;
    font-size: 14px;

    margin-bottom: 20px;
}

.search__bar::before {
    background: url(https://combo.staticflickr.com/ap/build/images/sprites/icons-32dc0fa1.png) -315px -193px no-repeat;
    width: 18px;
    height: 18px;
    content: "";
    opacity: .4;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.search__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8px 0;
    border: 0;
    text-indent: 12px;
    margin: 0 0 0 8px;
    box-shadow: none!important;
    outline: none;
    font-size: 14px;
    outline-width: 0;

    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border: none;
    outline: none;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;


    height: 40px;
    
}

.galleries__list__container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    position: relative;
    font-size: 14px;
}

.gallery__selection__list {
    flex: 1 1 auto;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateZ(0);

    

}

.gallery__selection__list ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.gallery__selection__item {
    outline: none;
    cursor: pointer;
    padding: 2px;
    margin-left: 10px;
}

.gallery__selection__item__content {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.gallery__selection__item__content:hover {
    background-color: #ebedee;
}

.gallery__selection__item__content:focus {
    background-color: #e6eaec;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #0091dc;
}

.item__labels {
    font-size: 14px;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 8px 0;
    cursor: pointer;
    margin-left: 15px;
}


.item__title {
    color: #006dac;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item__stats {
    color: #898989;
}

.actions__container {
    height: 70px;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    border-top: 1px solid #e1e1e1;
    border-radius: 0;
    box-sizing: border-box;
}

.create__new__gallery {
    align-self: stretch;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;

    color: #212124;
    background-color: transparent;
    height: auto;
    line-height: inherit;
    min-width: inherit;
    padding: 0;
    vertical-align: baseline;
    font: 400 12px/1.45 Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    transition: none;
    border-radius: 0;
    box-shadow: none;
    text-align: center;

}

.create__new__gallery::before {
    flex: 0 0 auto;
    background: url(https://combo.staticflickr.com/ap/build/images/sprites/icons-32dc0fa1.png) -542px -157px no-repeat;
    width: 14px;
    height: 14px;
    content: "";
}

.create__gallery__name {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border: none;
    outline: none;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    resize: none;
    appearance: none;
    width: 80%;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;

}

.create__description {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border: none;
    outline: none;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    resize: none;
    appearance: none;
    width: 80%;
    height: 140px;
    margin-left: 20px;
    margin-top: 20px;

}

.create__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 0 auto;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal__title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}