@use "@material/card";

@include card.core-styles;

div.Tabs{min-height: 100%;}

.button__selected_tab1
{     
margin-top: 30px;
height:40px;
background-color:white;
width:120px;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid blue;
color: black;
font-size: 20px;
font-weight: bolder;
margin-bottom: 50px;
border-right: 3px solid white;
margin-left: 0px;
}

.button__tab1
{ 
margin-top: 30px;
height:40px;
background-color:white;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid white;
width:120px;
color: black;
font-size: 20px;
margin-bottom: 50px;
margin-left: 0px;
}



.button__selected_tab2 
{ 
margin-top: 30px;
height:40px;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid blue;
background-color:white;
width:120px;
font-size: 20px;
color: black;
font-weight: bolder;
margin-bottom: 50px;
}

.button__tab2
{
margin-top: 30px;
height:40px;
background-color:white;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid white;
width:120px;
color: black;
font-size: 20px;
margin-bottom: 50px;
}


.button__selected_tab3
{ 
margin-top: 30px;
height:40px;
background-color:white;
width:120px;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid blue;
border-left: 3px solid white;
color:black;
font-size: 20px;
font-weight: bolder;
margin-bottom: 50px;
}


.button__tab3
{
margin-top: 30px;
height:40px;
background-color:white;
border-left: 3px solid white;
border-right: 3px solid white;
border-top: 3px solid white;
border-Bottom: 3px solid white;
width:120px;
color: black;
font-size: 20px;
margin-bottom: 50px;
}










