.colorButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(24, 91, 236);
    border: none;
    color:white;
}

.upload {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.backg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: -1;
}

.sideBar {
    position: absolute;
    top: 0px;
    width: 150px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.603);
}

.aboveBar {
    position: absolute;
    top:40px;
    width:100%;
    height:30px;
    background-color: rgb(221, 219, 219);
}

.inUpload {
    height: 20px;
    position: relative;
    left: 210px;
    width: 60px;
    color:white;
    background-color: rgb(43, 112, 202);
    border-radius:25px;
    font-size:xx-small;
    z-index:1000;
}

.previewImg {
    position: absolute;
    top: 90px;
    left: 180px;
}