

.modal_photos:hover{
    cursor: pointer;
}

.modal_button_disabled{
    margin-left: 9%;
    width: 10px;
    border-radius: 15%;
    background-color: #f0f0f0;
    color: #9c9c9c;
}

.modal_button_enabled{
    font-weight:600;
}

.modal_button_enabled:hover{
    background-color: #1458aa;
}