.gallery__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin: 1px 0 9px;
    margin-left: 20px;
    margin-top: 10px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.gallery__title:hover {
    text-decoration: underline;
}

.stats {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.share__btn {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-left: 130px;
    font-size: 20px;
    cursor: pointer;
}

.share__btn:hover {
    
}