div.forgetpassword-page {

    background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;

}


img.forgotpass {
    height: auto;
    width: 70px;
    position: relative;
    
}

.searching {
    display: flex;
    align-items: center;
    padding-left: 20%;
}