.div__forgetpassword_page {

    background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;

}
.div__resetpassword_page {

    background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 7%;
}


.img__forgotpass {
    height: auto;
    width: 70px;
    position: relative;
    
}



.h4__center
{
    color: black;
}
.btn__block {
    width: 60%;
}
.searching {
    display: flex;
    align-items: center;
    padding-left: 20%;
}