/* h5.center
{
    color: black;
}

form-login
{
    width: 500px;
    height:max-content;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7% auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    text-align: center;   
    background-position:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-size: cover;
   background-color:rgb(240, 208, 247);
   
  
}

div.login-page{
   
    height:100%;
    background-size: cover;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 1px;
    padding-bottom: 30%;
}

hr.or
{
    margin-top: 20px;
    width: 350px;
}

p.or
{
    background-color:rgb(240, 208, 247);
    margin: -23px auto 10px;
    width: 30px;
}

::placeholder
{
    color: rgb(109, 104, 104);
}

p.error {
    color: red;
    text-align: start;
    line-height: 50%;
    font-size: 90%;
}

div.card {
    width: 280px;
    margin-left: 80px;
    
}

a.forgetpassword {
  
    padding-left: 3%;
    
}


div.forgotpass {
    padding-top: 5%;
    padding-bottom: 2%;
}

.btn-block {
    width: 60%;
}

div.usererror {
    padding-top: 2px;
    padding-bottom: 5%;
} */

.h5__center
{
    color: black;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.form__login
{
    width: 500px;
    height:max-content;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7% auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    text-align: center;   
    background-position:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-size: cover;
   background-color:rgb(240, 208, 247);
   min-block-size:  120%;
  
}

.div__login_page{
   
    height:100%;
    background-size: cover;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 1px;
    padding-bottom: 30%;
    min-block-size: 30%;
       width: 100%;
    min-height: 100vh;
}

.hr__or
{
    margin-top: 20px;
    width: 410px;
}

.p__or
{
    background-color:rgb(240, 208, 247);
    margin: -27px auto 10px;
    width: 30px;
}

.placeholder
{
    color: rgb(109, 104, 104);
}

.p__error {
    color: red;
    text-align: start;
    line-height: 50%;
    font-size: 90%;
}

.p__error2 {
    color: red;
    text-align: start;
    line-height: 30%;
    font-size: 90%;
    margin-top: -3%;
}

.div__card {
    width: 280px;
    margin-left: 80px;
    
}

.a__forgetpassword {
  
    padding-left: 3%;
    
}


.div__forgotpass {
    padding-top: 5%;
    padding-bottom: 2%;
}

.btn__block {
    width: 60%;
}

.div__usererror {
    padding-top: 2px;
    padding-bottom: 5%;
}

.div_loginbutton {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;

    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;border: none;
    border-radius: 2px;

    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;

    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-appearance: button;
    box-sizing: border-box;
    
    margin-top: -5%;
    margin-left: -2%;
    margin-bottom: 3%;
}

.div_loginbutton:hover{
    background-color: #2bbbad;
}


.div__inputfield {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;

  
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.15;
    overflow: visible;
    -webkit-rtl-ordering: logical;
}

.div__inputfield:focus {
    outline: none !important;
    border-color:  #2bbbad;
    box-shadow: 0 1.3px #2bbbad;
}

.div__input {
    letter-spacing: 20%;
}



