h5.center
{
    color: black;
}

form
{
    width: 500px;
    height:max-content;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7% auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    text-align: center;   
    background-position:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-size: cover;
   background-color:rgb(240, 208, 247);
   
  
}

div.login-page{
   
    height:100%;
    background-size: cover;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 1px;
    padding-bottom: 30%;
}

hr.or
{
    margin-top: 20px;
    width: 350px;
}

p.or
{
    background-color:rgb(240, 208, 247);
    margin: -23px auto 10px;
    width: 30px;
}

::placeholder
{
    color: rgb(109, 104, 104);
}

p.error {
    color: red;
    text-align: start;
    line-height: 50%;
    font-size: 90%;
}

div.card {
    width: 280px;
    margin-left: 80px;
    
}

a.forgetpassword {
  
    padding-left: 3%;
    
}


div.forgotpass {
    padding-top: 5%;
    padding-bottom: 2%;
}

.btn-block {
    width: 60%;
}

div.usererror {
    padding-top: 2px;
    padding-bottom: 5%;
}