.div__resetpasswordsucces_page {
     background-size:cover;
    background-position:inherit;
    padding-top: 1px;
    padding-bottom: 10%;
    background-image: url(bg22.jpg);
    background-attachment:fixed;
    padding-top: 7%;
    height:100%;
     width: 100%;
    min-height: 100vh;
}

.form__resetpasswordsuccess {
       width: 500px;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7% auto;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
    text-align: center;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-color: rgb(240, 208, 247);
}

.img__resetpasswordsuccess {
      height: auto;
    width: 110px;
    position: relative;
    padding-right: 6%;
    margin-top: 6%;
    margin-left: 1%;
}

.h4__center {
     color: black;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-left:-4%;
}

.h6__center {
      color: black;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.div_resetpasswordsuccessbutton {
      position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;

    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;border: none;
    border-radius: 2px;

    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;

    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-appearance: button;
    box-sizing: border-box;
    
    margin-top: 1%;
    margin-bottom: -2%;;
    margin-left: -2%;
    width: 55%;
}

.div_resetpasswordsuccessbutton:hover{
    background-color: #2bbbad;
}