.bar {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 1100px;
    height: 30px;
}

.background {
    position: absolute;
    background-color: rgb(240, 236, 236);
    width: 1200px;
    height: 800px;
    top: 250px;
}

.bio {
    position: absolute;
    top: 260px;
    background-color: white;
    width: 800px;
    height: 100px;
    left: 70px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}

.showcase {
    position: absolute;
    top: 360px;
    left: 70px;
    background-color: white;
    width: 800px;
    height: 300px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}

.info {
    position: absolute;
    top: 660px;
    left: 70px;
    background-color: white;
    width: 800px;
    height: 120px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}

.editButton {
    position: relative;
    left: 760px;
    top: 50px;
    width: 10px;
    height: 10px;
}

.textBox {
    width: 700px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 50px;
}

.stats {
    position: absolute;
    top: 780px;
    left: 70px;
    background-color: white;
    width: 800px;
    height: 120px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}

.joined {
    position: relative;
    top: 10px;
    right: 320px;
    color: gray;
    font-weight: 100;
}

.joinDate {
    position: relative;
    right: 180px;
    bottom: 32px;
    font-weight: 100;
}

.email {
    position: relative;
    bottom: 30px;
    right: 323px;
    color: gray;
    font-weight: 100;
}

.userEmail {
    position: relative;
    bottom: 72px;
    right: 140px;
    font-weight: 100;
}

.views {
    position: relative;
    top: 50px;
    right: 323px;
    font-weight: 100;
    color: gray;
}

.tags {
    position: relative;
    top: 10px;
    right: 223px;
    font-weight: 100;
    color: gray;
}

.faves {
    position: relative;
    bottom: 30px;
    right: 123px;
    font-weight: 100;
    color: gray;
}

.groups {
    position: relative;
    bottom: 70px;
    right: 23px;
    font-weight: 100;
    color: gray;
}

.uploadButton {
    position: absolute;
    top: 400px;
}

.submitButton {
    position: absolute;
    top: 70px;
    left: 712px;
    background-color:lightskyblue;
    border-width: 1px;
    border-color: lightskyblue;
}